// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

/*
******************************************************************************************************
	Colors
******************************************************************************************************
*/
$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           #f1f2f2; // #efefef

$brand-primary:          #4faadd;
$brand-primary-light:    #4cc6f5;
$brand-primary-dark:     #008bc0;
$brand-secondary:        #9ac554;
$brand-secondary-light:  #653d17;
$brand-secondary-dark:   #2084b7;

$brand-success:         $brand-secondary;
$brand-info:            $brand-primary;
$brand-warning:         #f8cd47;
$brand-danger:          #e68373;

$body-color: 			$gray-base;
$link-color:            $body-color;
$link-color-hover:      $brand-primary;

/*
******************************************************************************************************
	Typography
******************************************************************************************************
*/

$font-family-sans-serif:  GothamBook, Arial, sans-serif;
$font-family-heading:  	  GothamBook, Arial, sans-serif;
$font-family-alt: 		  GothamMedium, Arial, sans-serif;

$font-size-base:          16px;
$font-size-large:         ceil(($font-size-base * 1.10)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.75)); // ~12px

$font-size-h1:            floor(($font-size-base * 3.75)); // ~60px
$font-size-h2:            floor(($font-size-base * 2.25)); // ~36px
$font-size-h3:            ceil(($font-size-base * 1.60)); // ~26px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~20px
$font-size-h5:            ceil(($font-size-base * 1.125)); // ~18px
$font-size-h6:            $font-size-base;

$jumbotron-heading-font-size: floor(($font-size-h1 * 1.40)); // ~85px

$font-normal-weight: 	  400;
$font-medium-weight: 	  600;
$headings-font-weight:    $font-normal-weight;
$headings-color:          $brand-primary;

/*
******************************************************************************************************
	Media queries breakpoints
******************************************************************************************************
*/
$screen-xs: 0;
$screen-sm: 768px;
$screen-md: 1025px;
$screen-lg: 1200px;

$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

/*
******************************************************************************************************
	Grid system
******************************************************************************************************
*/
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px;
$grid-float-breakpoint:     $screen-md; // Point at which the navbar becomes uncollapsed

/*
******************************************************************************************************
	Container sizes
******************************************************************************************************
*/
// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width);
$container-sm:                 $container-tablet;
// Medium screen / desktop
$container-desktop:            (970px + $grid-gutter-width);
$container-md:                 $container-desktop;
// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width);
$container-lg:                 $container-large-desktop;

/*
******************************************************************************************************
	Components
******************************************************************************************************
*/
$padding-base-vertical:     10px;
$padding-base-horizontal:   15px;

$padding-large-vertical: 	15px;
$padding-large-horizontal: 	25px;

$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small: 		0;
$component-active-color: 	$brand-primary;

/*
******************************************************************************************************
	Buttons
******************************************************************************************************
*/
$font-family-btn: 				 $font-family-alt;

$btn-default-color:              $brand-primary;
$btn-default-bg:                 #FFFFFF;
$btn-default-border:             $brand-primary;
$btn-default-hover-color:        #FFFFFF;
$btn-default-hover-bg:           $brand-primary-dark;
$btn-default-hover-border:       $brand-primary-dark;

$btn-primary-color:              #FFFFFF;
$btn-primary-bg:                 $brand-primary-dark;
$btn-primary-border:             $brand-primary-dark;
$btn-primary-hover-color:        $brand-primary-dark;
$btn-primary-hover-bg:           #FFFFFF;
$btn-primary-hover-border:       $brand-primary-dark;

$btn-secondary-color:            #FFFFFF;
$btn-secondary-bg:               $brand-secondary-dark;
$btn-secondary-border:           $brand-secondary-dark;
$btn-secondary-hover-color:      $brand-secondary-dark;
$btn-secondary-hover-bg:         #FFFFFF;
$btn-secondary-hover-border:     $brand-secondary-dark;

$padding-btn-vertical:     ceil($padding-base-vertical * 1.2);
$padding-btn-horizontal:   ceil($padding-base-horizontal * 1.3);

/*
******************************************************************************************************
	Forms
******************************************************************************************************
*/
$input-bg: #FFF;
$input-color: $brand-primary;
$input-border: $gray-lighter;
$input-border-width: 1px;
$input-border-focus: $brand-primary;
$input-color-placeholder: rgba($brand-primary, 0.7);

$label-font-family: $font-family-alt;

/*
******************************************************************************************************
	Navbar
******************************************************************************************************
*/
$navbar-primary-color: 				#FFFFFF;
$navbar-primary-bg: 				$brand-primary;
$navbar-primary-link-color: 		#FFFFFF;
$navbar-primary-link-hover-color: 	#FFFFFF;
$navbar-primary-link-hover-bg: 		$brand-primary-dark;
$navbar-primary-link-active-color: 	#FFFFFF;
$navbar-primary-link-active-bg: 	$brand-primary-dark;

$navbar-primary-dropdown-bg: 		$brand-primary-dark;

/*
******************************************************************************************************
	Navs
******************************************************************************************************
*/
$nav-link-padding: 20px;
$nav-link-hover-bg: transparent;

/*
******************************************************************************************************
	Panels
******************************************************************************************************
*/
$panel-default-bg: 				$gray-lighter;
$panel-default-title-color: 	$brand-primary;
$panel-default-color: 			$body-color;
$panel-default-link-color: 		$link-color;
$panel-default-hover-color: 	$link-color-hover;

$panel-primary-bg: 				$brand-primary;
$panel-primary-title-color: 	$brand-secondary;
$panel-primary-color: 			#FFF;
$panel-primary-link-color: 		#FFF;
$panel-primary-hover-color: 	#FFF;

$panel-secondary-bg: 			$brand-secondary;
$panel-secondary-title-color: 	$brand-primary;
$panel-secondary-color: 		$body-color;
$panel-secondary-link-color: 	$link-color;
$panel-secondary-hover-color: 	$link-color-hover;

/*
******************************************************************************************************
	Widgets
******************************************************************************************************
*/
$widgets-color: $brand-primary;

/*
******************************************************************************************************
	Tables
******************************************************************************************************
*/
$table-bg: transparent;
$table-bg-hover: $gray-lighter;
$table-bg-accent: transparent;
$body-bg: transparent;
$table-border-color: $gray-lighter;

$table-thead-color: $headings-color;
$table-thead-border: $headings-color;

$table-cell-padding: 20px;

/*
******************************************************************************************************
	Footer
******************************************************************************************************
*/
$footer-content-color: $body-color;
$footer-content-bg: $gray-lighter;
$site-footer-color: #FFFFFF;
$site-footer-bg: $brand-primary;

/*
******************************************************************************************************
	Custom Icons
******************************************************************************************************
*/
$wp-media-icon-font-size: 4em;
$wp-gallery-before-content: url("../images/view.png");
$wp-video-before-content: url("../images/play.png");
$search-icon: url("../images/search.png");
$search-icon-white: url("../images/search-white.png");
$open-icon: url("../images/open.png");
$close-icon: url("../images/close.png");
$arrow-right-icon: url("../images/arrow-right.png");
$select-icon: url("../images/select.png");
$download-icon: url("../images/download.png");
$input-clear-value: "\f057";