.btn {
    font-family: $font-family-btn;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-width: 2px;
    border-style: solid;
    padding: $padding-btn-vertical $padding-btn-horizontal;
    @include transition();
    @media(max-width: $screen-xs-max){
        padding: $padding-btn-vertical;
    }
    &.btn-lg {
        @media(min-width: $screen-sm){
            @include button-size(ceil($padding-large-vertical * 2), ceil($padding-large-horizontal * 2), $font-size-large, $line-height-large, $btn-border-radius-large);
        }
    }
    &.btn-default {
        @include button-effect($btn-default-color, $btn-default-border, $btn-default-bg, $btn-default-hover-color, $btn-default-hover-border, $btn-default-hover-bg);
    }
    &.btn-primary {
        @include button-effect($btn-primary-color, $btn-primary-border, $btn-primary-bg, $btn-primary-hover-color, $btn-primary-hover-border, $btn-primary-hover-bg);
    }
    &.btn-secondary {
        @include button-effect($btn-secondary-color, $btn-secondary-border, $btn-secondary-bg, $btn-secondary-hover-color, $btn-secondary-hover-border, $btn-secondary-hover-bg);
    }
    &.btn-search {
        border: none;
        padding: 0;
        display: inline-block;
        margin-left: 10px !important;
        background-color: transparent;
    }
}

#scroll-top {
    position: fixed;
    z-index: 9999;
    right: 15px;
    bottom: 100px;
    display: none;
    padding: 9px 10px;
    @include box-shadow();
    @include transition(none);
    &.transition {
    	@include transition();
    }
    .fa {
        font-size: 20px;
        display: block;
    }
}
.open-close-buttons {
    position: absolute;
    bottom: 50%; right: 15px;
	@include translate(0,50%);
	float: right;
    display: inline-block;
    clear: both;
    background-color: transparent;
    color: #FFF;
    cursor: pointer;
    z-index: 1;
    .close-button {
        display: none;
    }
}