#page {
    overflow-x: hidden;
}
#content {
    margin: 40px 0 80px;
}
.home #content {
    margin-top: 0;
}
article,
.hentry,
.widget {
	margin: 15px 0;
}
.page-content, .page-header {
    margin: 0 0 20px;
    border-bottom: none;
}
.entry-header .entry-content, .entry-summary, .entry-footer {
    margin: 20px 0 0;
}
.entry-title {
    text-transform: none;
    margin: 0 0 20px;
    a {
        color: $headings-color;
        text-decoration: none;
    }
}
.media, .media-body {
  overflow: visible;
}
.clear-left-items {
    @media(min-width: $screen-md){
        .col-md-4:nth-child(3n+1) {
            clear: left;
        }
    }
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
        .col-sm-6:nth-child(2n+1) {
            clear: left;
        }
    }
}

.home {
    .panel {
        padding: 1px;
    }
}
#home-widgets {
    margin: 130px 0 0;
}
#footer-banners {
    margin: 0 0 80px;
}
.pharmacy-archive {
    .type-pharmacy {
        border-width: 1px;
        border-style: solid;
        border-color: $gray-lighter;
        padding: 20px;
        &.map-active {
            border-color: $brand-primary;
        }

    }
}