#footer-area {
    //margin-top: 100px;
    .footer-content {
        overflow: hidden;
        margin-bottom: 0;
        color: $footer-content-color;
        background-color: $footer-content-bg;
        padding: 20px 0 60px;
        .menu {
            padding-left: 0;
            li {
                display: block;
                float: none;
            }
        }
    }
    .site-info {
        background-color: $site-footer-bg;
        color: $site-footer-color;
        a {
            color: $site-footer-color;
            &:hover {
                color: $site-footer-color;
            }
        }
        .copyright {
            margin: 20px 0;
            & > div {
                display: inline-block;
                vertical-align: middle;
            }
            .nav {
                a {
                    padding: 0;
                    margin: 0;
                    &:hover, &:focus {
                        background: none;
                    }
                }
            }
        }
        .footer-notice {
            margin-bottom: 10px;
            text-align: center;
        }
    }
}