*:focus {
    outline: none !important;
}
label {
    font-family: $label-font-family;
    font-weight: normal;
    .required {
        color: $brand-primary;
    }
}
.clear-input-group {
    .clear-input-wrapper {
        display: inline-block;
        position: relative;
        .clear-input-value {
            position: absolute;
            top: 50%; right: 10px;
            content: $input-clear-value;
            cursor: pointer;
            color: $input-border;
            @include translate(0, -50%);
            &.active {
                color: $input-border-focus;
            }
            &:before {
                content: $input-clear-value;
            }
        }
    }
}

.col-form-label {
    padding-top: $padding-base-vertical;
    padding-bottom: $padding-base-vertical;
}
.input-group-addon,
.input-group-btn {
    vertical-align: bottom;
}
.form-control {
    @include form-control-focus($input-border-focus);
    @include box-shadow(0,0,0);
    &.form-control-search {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom-color: $brand-primary;
        color: $brand-primary;
        @include placeholder(rgba($brand-primary, 0.7));
        &:focus {
            border-color: $brand-primary;
        }
    }
    &:focus {
        border-color: $input-border-focus;
        @include box-shadow(0,0,0);
    }
    input&,
    select&{
        @media(min-width: $screen-sm){
            max-width: 300px;
        }
    }
    /*select& {
        cursor: pointer;
        @include appearance();
        background-image: $select-icon;
        background-position: right 10px center;
        background-repeat: no-repeat;
    }*/
    textarea&{
        @media(min-width: $screen-sm){
            max-width: 500px;
            min-height: 220px;
        }
    }
}
select.form-control {
    &:not([size]):not([multiple]) {
        height: $input-height-base;
    }
}
.radio-inline,
.checkbox-inline {
    padding-left: 0;
    .radio,
    .checkbox {
        position: relative;
        display: inline-block;
        margin: 5px 20px 5px 0;
        vertical-align: middle;
    }
}
.radio,
.checkbox {
    & > label {
        cursor: pointer;
        padding-left: 25px;
    }
    & > label:before {
        position: absolute;
        content: "";
        @include transition();
        @include opacity(0);
        z-index: 1;
    }
    & > label:after {
        position: absolute;
        content: "";
        top: 0; left: 0;
        width: 21px; height: 21px;
        background-color: transparent;
        border-width: $input-border-width;
        border-style: solid;
        border-color: $brand-primary;
        cursor: pointer;
    }
    & > label.checked:before {
        @include opacity(1);
    }
    input[type="checkbox"], input[type="radio"] {
        position: absolute;
        @include opacity(0);
        z-index: 1;
        cursor: pointer;
    }
}
.checkbox {
    & > label:before {
        position: absolute;
        content: "\00d7";
        top: 0; left: 3px;
        background: none;
        //width: 10px; height: 10px;
        //border-width: 2px;
        //border-style: solid;
        //border-color: $brand-primary;
        //border-bottom: none; border-right: none;
        //@include rotate(-45);
        font-size: 32px;
        line-height: 16px;
        font-weight: bold;
        color: $brand-primary;
    }
}
.radio {
    & > label:before {
        top: 8px; left: 8px;
        width: 5px; height: 5px;
        background-color: $brand-primary;
        @include border-radius(50%);
        @include rotate(0);
        border: none;
    }
    & > label:after {
        @include border-radius(50%);
    }
}
.login-submit {
    padding-top: 5px;
    margin-bottom: 0;
}
.input-group {
    .input-group-btn {
        width: auto;
    }
}
.wpcf7-recaptcha {
    margin-bottom: 15px;
}