.visible-print {
	display: none !important;
}
@media print{
	.visible-print {
		display: block !important;
	}
	#headimg,
	#breadcrumbs,
	#footer-area,
	#scroll-top,
	.filters,
	.read-more,
	.btn,
	.g-recaptcha,
	.edit-link,
	.slick-arrow {
		display: none !important;
	}
	a {
		text-decoration: none;
	}
	a[href]:after {
		content: none !important;
	}
	.header-title {
		color: $brand-primary;
	}
	.panel.panel-top-offset {
		margin-top: 0;
	}
}